$primary: #2196F3;
$gray: #E3F2FD;
$light_indigo: #64B5F6;
$dark_indigo: #0D47A1;
$secondary: #2962FF;
$grey : #9f9f9f;
$white : #ffffff;
$orange: #f09216;
$blue : #1D91CB;
$pink: #EE2169;
$green : #3ab879;
